{% extends 'layout.html'%} {% block body %}
<!--menu principal-->
<main>
    <h1>Aruba Store</h1>
    <h2>Productos Destacados</h2>
    <!--seccion productos -->
    <section class="productosContainer">
        <div class="productos">
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio1.jpg')}}" alt="disenio1" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio2.jpg')}}" alt="disenio2" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio3.jpg')}}" alt="disenio3" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio4.jpg')}}" alt="disenio4" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio5.jpg')}}" alt="disenio5" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio6.jpg')}}" alt="disenio6" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio7.jpg')}}" alt="disenio7" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio8.jpg')}}" alt="disenio8" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio1.jpg')}}" alt="diseño9" class="imagenProd">

            </div>
        </div>

    </section>
    <!-- fin seccion productos-->


    <p class="description">Nuestros escritorios están diseñados para que desbloquees el siguiente nivel de confort en tu hogar para superar a tus adversarios. Está diseñado no sólo para todas tus necesidades de juego, sino que también puede ser un estudio multifuncional o estación
        de trabajo. Son diseños minimalistas, prácticos y funcionales que pueden personalizarse a tus necesidades particulares. Además, incluye iluminación LED para que tus partidas sean más vívidas y emocionantes.</p>

    <!--seccion dos-->
    <section>

    </section>

</main>
<!-- fin main -->
{% endblock%}