{% extends 'layout.html'%} {% block body %}
<!--menu principal-->
<main>
    <h1>Aruba Store</h1>
    <h2>Productos Destacados</h2>
    <!--seccion productos -->
    <section class="productosContainer">
        <div class="productos">
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio1.jpg')}}" alt="disenio1" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio2.jpg')}}" alt="disenio2" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio3.jpg')}}" alt="disenio3" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio4.jpg')}}" alt="disenio4" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio5.jpg')}}" alt="disenio5" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio6.jpg')}}" alt="disenio6" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio7.jpg')}}" alt="disenio7" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio8.jpg')}}" alt="disenio8" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/disenio1.jpg')}}" alt="diseño9" class="imagenProd">

            </div>
        </div>

    </section>
    <!-- fin seccion productos-->


    <!--seccion dos-->
    <section>

        <p class="description">Nuestro objetivo es brindar tazas personalizadas que reflejan la individualidad y estilo de cada persona, esas tazas que alegran tu día a día y son el regalo perfecto para las personas que más querés. Este emprendimiento ofrece tazas en una gran
            variedad de estilos y materiales, desde cerámica hasta plástico, e incluso algunos modelos de termos y tazas mágicas, con infinitas posibilidades de personalización. </p>


    </section>

</main>
<!-- fin main -->
{% endblock%}