{% extends 'layout.html' %} {% block body %}
<!-- Sección principal -->
<div class="formulario-container">
    <div class="info-formulario">
        <h2>Nosotros</h2>
        <p>
            En medio de una pandemia que nos mantuvo en casa y con un montón de tiempo libre, nació una idea llena de creatividad y pasión. Decidimos emprender algo único y especial, y así comenzó nuestro viaje en el mundo de las tazas personalizadas. La inspiración
            surgió en esos momentos en los que todos buscábamos maneras de mantenernos ocupados y llevar un poco de alegría a la vida cotidiana. Así que, ¡decidimos darle vida a tazas únicas y personalizadas que pudieran alegrar los días de cualquier
            persona! Nuestras tazas son el resultado de amor y dedicación. Las elaboramos en diferentes estilos y materiales, desde cerámica hasta plástico, e incluso algunos modelos de termo y tazas mágicas. Cada taza es una obra de arte en sí misma,
            diseñada para hacer sonreír a quienes las usan. Lo que comenzó como un proyecto creativo en medio de la incertidumbre, se ha convertido en nuestra pasión y negocio. Nos enorgullece brindar tazas personalizadas que reflejan la individualidad
            y estilo de cada persona. Así que, si estás buscando una taza única para ti o para regalar a alguien especial, ¡has llegado al lugar indicado! Acompáñanos en este viaje lleno de creatividad y tazas únicas. Estamos emocionados de compartir
            nuestras creaciones contigo y esperamos que nuestras tazas personalizadas traigan un poco de magia a tu día a día.
        </p>
    </div>
</div>

<!-- Sección iconos nosotros -->
<div class="iconos_container">
    <div class="envios-nosotros">
        <h3 class="titulo_nosotros titulo_envios"><b>Envios</b></h3>
        <img src="{{url_for('static', filename='Imagenes/enviosNosotros.ico')}}" alt="enviosNosotros" class="img_nosotros">
        <p>Envios por flete.<br> Previa coordinacion con el cliente.<br> Consultar stock y costo de envio.</p>
    </div>

    <div class="ubicacion-nosotros">
        <h3 class="titulo_nosotros titulo_ubicacion"><b>Donde nos encontramos</b></h3>
        <img src="{{url_for('static', filename='Imagenes/ubicacionNosotros.ico')}}" alt="ubicacionNosotros" class="img_nosotros">
        <p>Nos encontramos en Capital Federal.<br> Barrio Parque Avellaneda</p>
    </div>

    <div class="medios-nosotros">
        <h3 class="titulo_nosotros titulo_medios"><b>Medios de pago</b></h3>
        <img src="{{url_for('static', filename='Imagenes/mediosPagosNosotros.ico')}}" alt="mediosPagos" class="img_nosotros">
        <p>Aceptamos transferencia bancaria<br> Mercdo de pago<br> Pago en efectivo</p>
    </div>

    <div class="telfono-nosotros">
        <h3 class="titulo_nosotros titulo_telefono"><b>Comunicate con nosotros</b></h3>
        <img src="{{url_for('static', filename='Imagenes/telefonoNosotros.ico')}}" alt="telefonoNosotros" class="img_nosotros">
        <p>1564555555</p>
    </div>
</div>
<!-- Fin sección iconos nosotros -->
<!-- Fin sección principal -->
{% endblock %}